.chatlist{
    flex: 1;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.482);

.item{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: .5px solid white;

    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;

    }
    .texts{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
    
    span{
        font-weight: 500;
    }
    p{
        font-size: 12px;
        font-weight: 150;
    }
    }
    }

    .delete-button {
        background-color: #ff4d4d; /* Red color */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: auto;
        transition: background-color 0.3s ease;
        width: 20%;
    }
    
    .delete-button:hover {
        background-color: #ff1a1a; /* Darker red on hover */
    }
}
