/* User info container */
.userinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444;
    color: white;
    height: 60px;
    .logout{
      margin-top: 10px;
      padding: 10px 20px;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  }
  
  /* User info styling */
  .userinfo .user {
    display: flex;
    align-items: center;
  }
  
  .userinfo .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .userinfo h2 {
    margin: 0;
    font-size: 18px;
    color: white;
  }
  
  /* Icons next to user */
  .userinfo .icons img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  